.btn {
    padding:5px 15px;
    border: 2px solid rgb(12, 219, 64);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
    background: transparent;
    color: rgb(12, 219, 64);
    font-family: monospace;
}
.btn:hover {
    background: rgb(12, 219, 64);
    color: #000;
}